doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    title 一起玩死处女座吧！
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  body
    != yield
    script(src="html2canvas.js")
    script(src="index.js")
    script(src="weixin.js")